@font-face {
  font-family: 'ea_font_v1.5_by_ghettosharkRg';
  src: url('easports15-webfont.woff2') format('woff2'),
       url('easports15-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}





